<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">PaperPlus</h1>
            <h3 class="mb-5">
                <em>Adquiere tu lista de utiles ya!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Comprar!
            </a>
            <h3 class="mb-5"><br>¡En convenio con la Unidad Educativa Jim Irwin y el colegio Paul Dirac!</h1>
        </div>
        <div class="overlay"></div>
    </header>
</main>